@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}

.flex {
  display: flex;
  gap: 20px;
}

.justify-between {
  justify-content: space-between;
}

.mb-20 {
  margin-bottom: 20px;
}
